<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" stopOnFailure="false" bootstrap="./bootstrap.php">
	<php>
		<server name="MK_ENV" value="test"/>
		<server name="UNITTESTMODE" value="1"/>
	</php>
	<testsuites>
		<testsuite name="core">
			<file>core/tests/mk.php</file>
			<file>core/tests/actionform.php</file>
			<file>core/tests/db.php</file>
			<file>core/tests/model.php</file>
			<file>core/tests/crypt.php</file>
		</testsuite>
	</testsuites>
</phpunit>
