Options +FollowSymLinks -Indexes
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php/$1 [L]


AddOutputFilterByType DEFLATE text/html text/css application/x-javascript application/javascript application/json text/javascript
